<div class="row">
  <div class="col-4 form-group" style="text-align: center;">
    <button class="btn btn-warning" (click)="ver='Partido'" style="margin-top:30px;">Partido en Vivo</button>
  </div>
  <div class="col-4" style="text-align: center;">

    <img src="assets/foul.png" style="width:130px" />
  </div>
  <div class="col-4 form-group" style="text-align: center;">
    <button class="btn btn-warning" (click)="ver='Posiciones'" style="margin-top:30px;">Fixture Partidos</button>
  </div>


</div>



<div class="container text-center" *ngIf="ver=='Partido'">
  <div class="row" style="border: solid darkgrey 2px;">
    <div class="col-4" style="border: solid darkgrey 2px;min-height: 100px;">
      <img *ngIf="record && record?.localFileID" src="http://admin.foul.com.ar/api/file/{{record?.localFileID}}"
        style="height: 80px;" />
      <h2> {{record?.HomeTeamName}}</h2>
      <h1>{{record?.puntosLocal}}</h1>
    </div>

    <div class="col-4" style="border: solid darkgrey 2px;">
      <div style="width: 100%;">

        <h1>{{record?.ZoneName}}</h1>
      </div>

      <h1>{{record?.currentMatchStatus}}</h1>
      <h1>{{record?.tiempoRestante}}</h1>
    </div>
    <div class="col-4" style="border: solid darkgrey 2px;">
      <img *ngIf="record && record?.visitanteFileID" src="http://admin.foul.com.ar/api/file/{{record?.visitanteFileID}}"
        style="height: 80px;" />
      <h2>{{record?.AwayTeamName}}</h2>
      <h1>{{record?.puntosVisitante}}</h1>
    </div>
  </div>

</div>
<div class="container" *ngIf="ver=='Partido'">
  <div class="row" style="border: solid darkgrey 2px;">
    <div class="col-12 col-sm-6 text-center" style="border: solid darkgrey 2px;">
      <h1>Jugadores {{record?.HomeTeamName}}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Camiseta</th>
            <th>Nombre</th>
            <th>Faltas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of record?.localJugadores; index as i;">
            <td>{{r.Camiseta}}</td>
            <td>{{r.Nombre}}</td>
            <td>{{r.Faltas}}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-12 col-sm-6 text-center" style="border: solid darkgrey 2px;">
      <h1>Jugadores {{record?.AwayTeamName}}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Camiseta</th>
            <th>Nombre</th>
            <th>Faltas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of record?.visitanteJugadores; index as i;">
            <td>{{r.Camiseta}}</td>
            <td>{{r.Nombre}}</td>
            <td>{{r.Faltas}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div class="container">
  <div *ngIf="ver=='Posiciones'">
    <table class="table table-condensed table-bordered table-sm table-hover">
      <thead>
        <th>Fecha</th>
        
        
        <th>Local</th>
        <th>Visitante</th>
        
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList">
          <td>{{r.MatchDate | date:'dd/MM/yyyy' }}<br>
            {{r.MatchStatusName}}
          </td>
          
          
          <td>
            <img *ngIf="r && r?.localFileID" src="http://admin.foul.com.ar/api/file/{{r?.localFileID}}"
        style="height: 50px;" /><br/>
            {{r.HomeTeamName}} ({{r.HomeGoals}}) </td>
          <td>
            <img *ngIf="r && r?.awayFileID" src="http://admin.foul.com.ar/api/file/{{r?.awayFileID}}"
        style="height: 50px;" /><br/>
            {{r.AwayTeamName}} ({{r.AwayGoals}})</td>
      

        </tr>
      </tbody>
    </table>
  </div>
</div>